h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #048108;
    font-weight: 100;
    text-align: center;

}
header{
    text-align: center;
}
button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin-left: 8px auto;
    border: none;
    cursor: pointer;
    width: 30%;
    opacity: 0.9;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
}

.hide-me{
    display: none;
    transition-duration: 0.5s;
}

#btn:hover {
    opacity: 1;
    transition-duration: 0.5s;
}

#btn:active {
    background-color: #3e8e41;
}
